In [1]:
#DATA CLEANING AND FEATURE ENGINEERING IN PYTHON
#Excerise Sheet 5

In [ ]:
import pandas as pd

In [2]:
inpPath = '/Users/emsfl/Downloads/'

In [3]:
inpDf = pd.read_csv(inpPath + 'CandidateSummaryAction1.csv', delimiter=',', header=0,index_col=0)

In [4]:
inpDf


#default header is 0
#default index_col is None

,can_nam,can_off,can_off_sta,can_off_dis,can_par_aff,can_inc_cha_ope_sea,can_str1,can_str2,can_cit,can_sta,...,cas_on_han_beg_of_per,cas_on_han_clo_of_per,net_con,net_ope_exp,deb_owe_by_com,deb_owe_to_com,cov_sta_dat,cov_end_dat,winner,votes
can_id,,,,,,,,,,,,,,,,,,,,,
H2GA12121,"ALLEN, RICHARD W",H,GA,12.0,REP,INCUMBENT,2237 PICKENS RD,NaN,AUGUSTA,GA,...,"$60,109.57","$175,613.35","$1,074,949.50","$907,156.21","$1,125,000.00",NaN,01/01/2015,10/19/2016,Y,158708.0
H6PA02171,"EVANS, DWIGHT",H,PA,2.0,DEM,CHALLENGER,PO BOX 6578,NaN,PHILADELPHIA,PA,...,NaN,"$105,687.23","$1,406,719.06","$1,298,831.83",NaN,NaN,11/02/2015,10/19/2016,Y,310770.0
H6FL04105,"RUTHERFORD, JOHN",H,FL,4.0,REP,OPEN,3817 VICKERS LAKE DRIVE,NaN,JACKSONVILLE,FL,...,NaN,"$35,645.09","$650,855.38","$656,210.29","$60,000.00",NaN,04/01/2016,10/19/2016,Y,286018.0
H4MT01041,"ZINKE, RYAN K",H,MT,0.0,REP,INCUMBENT,409 2ND ST W,NaN,WHITEFISH,MT,...,"$83,815.78","$399,122.61","$4,938,943.74","$5,055,942.15",NaN,NaN,01/01/2015,10/19/2016,Y,280476.0
H8CA09060,"LEE, BARBARA",H,CA,13.0,DEM,INCUMBENT,"409 13TH ST, 17TH FL",NaN,OAKLAND,CA,...,"$83,690.60","$181,338.23","$1,197,676.61","$949,488.98","$4,401.75",NaN,01/01/2015,10/19/2016,Y,277390.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
P60005931,"BUTTOCKS, SYDNEYS VOLUPTOUS",P,US,0.0,IND,OPEN,143 HIGHLAND AVENUE,NaN,BUFFALO,NY,...,"$5,000.00","$5,000.00",NaN,NaN,NaN,NaN,03/03/2015,3/31/2015,NaN,NaN
S6CA00568,"MOLNAR, ROBERT",S,CA,0.0,REP,OPEN,PO BOX 321231,NaN,LOS GATOS,CA,...,"$1,000.00",NaN,"$1,000.00","$1,000.00",NaN,NaN,01/01/2015,3/31/2015,NaN,NaN
S6MD03524,"HOLMES, GREGORY",S,MD,0.0,REP,OPEN,13601 MACDERNUT CT,NaN,UPPER MARLBORO,MD,...,NaN,NaN,NaN,NaN,NaN,NaN,8/29/2017,02/01/2015,NaN,NaN
H6AS00031,"HUNKIN-FINAU, VAITINASA SALU",H,AS,NaN,DEM,NaN,PO BOX 252 VAILOAUTA,NaN,PAGO PAGO,AS,...,"$1,058.44","$4,561.00","$41,670.00","$38,167.44",NaN,NaN,07/01/2016,10/19/2016,NaN,NaN
H6AK00235,"LINDBECK, STEVE",H,AK,NaN,DEM,NaN,PO BOX 90025,NaN,ANCHORAGE,AK,...,NaN,"$64,115.92","$876,316.81","$792,150.89","$13,979.83",NaN,04/01/2016,10/19/2016,NaN,NaN

In [5]:
subDF = inpDf[['can_off_dis', 'can_zip', 'votes']]

#use 2 square brackets cause i have more than one variable

In [6]:
subDF

           can_off_dis      can_zip     votes
can_id
H2GA12121         12.0      30904.0  158708.0
H6PA02171          2.0      19138.0  310770.0
H6FL04105          4.0      32224.0  286018.0
H4MT01041          0.0  599373010.0  280476.0
H8CA09060         13.0      94612.0  277390.0
...                ...          ...       ...
P60005931          0.0      14222.0       NaN
S6CA00568          0.0      95032.0       NaN
S6MD03524          0.0      20774.0       NaN
H6AS00031          NaN      96799.0       NaN
H6AK00235          NaN      99509.0       NaN

[1814 rows x 3 columns]

In [7]:
subDF = subDF.dropna(axis=0,how='any')

#AXIS IS 0 
#at least one missing value

In [8]:
subDF

           can_off_dis      can_zip     votes
can_id
H2GA12121         12.0      30904.0  158708.0
H6PA02171          2.0      19138.0  310770.0
H6FL04105          4.0      32224.0  286018.0
H4MT01041          0.0  599373010.0  280476.0
H8CA09060         13.0      94612.0  277390.0
...                ...          ...       ...
H6LA03130          3.0      70517.0   91374.0
H4AZ07043          7.0      85001.0   88219.0
H6LA04138          4.0      71006.0   70556.0
H6CA44103         44.0      90731.0   70303.0
H2CA20094         21.0      93704.0   68481.0

[379 rows x 3 columns]

In [9]:
from scipy import stats

In [10]:
z_scores = stats.zscore(subDF['can_off_dis'])

In [11]:
z_score_threshold = 3

#z score method is 3
#IQR is 1.5

In [12]:
outliers = subDF[abs(z_scores) > z_score_threshold]

In [13]:
upper_bound = subDF['can_off_dis'].mean() + z_score_threshold * subDF['can_off_dis'].std()
lower_bound = subDF['can_off_dis'].mean() - z_score_threshold * subDF['can_off_dis'].std()

In [14]:
print(f"Upper Bound: {upper_bound}")
print(f"Lower Bound: {lower_bound}")

Upper Bound: 43.01790822802697
Lower Bound: -22.474372607974193

In [15]:
#HIS WAY - -Identify the upper and lower bounds using the Inter Quartile Range (IQR) method for the ‘can_off_dis’
#variable


lowZVal = subDF['can_off_dis'].mean() - 3 * subDF['can_off_dis'].std()
upZVal = subDF['can_off_dis'].mean() + 3 * subDF['can_off_dis'].std()

In [16]:
lowZVal

-22.474372607974193

In [17]:
upZVal

43.01790822802697

In [18]:
#HIS WAY - only keep the rows in ‘subDF’ having values for ‘can_off_dis’
#within the boundaries

noOutlrZDf = subDF[(subDF['can_off_dis']>lowZVal) & (subDF['can_off_dis']<upZVal)]

In [19]:
print(noOutlrZDf)

           can_off_dis      can_zip     votes
can_id
H2GA12121         12.0      30904.0  158708.0
H6PA02171          2.0      19138.0  310770.0
H6FL04105          4.0      32224.0  286018.0
H4MT01041          0.0  599373010.0  280476.0
H8CA09060         13.0      94612.0  277390.0
...                ...          ...       ...
H2TX33073         33.0      76105.0   92914.0
H6LA03130          3.0      70517.0   91374.0
H4AZ07043          7.0      85001.0   88219.0
H6LA04138          4.0      71006.0   70556.0
H2CA20094         21.0      93704.0   68481.0

[369 rows x 3 columns]

In [20]:
#In a DataFrame called ‘noOutlrZDf’, only keep the rows in ‘subDF’ having values for ‘can_off_dis’
#within the boundaries

within_bounds = (abs(z_scores) <= z_score_threshold)
noOutlrZDf = subDF[within_bounds]

In [21]:
noOutlrZDf

           can_off_dis      can_zip     votes
can_id
H2GA12121         12.0      30904.0  158708.0
H6PA02171          2.0      19138.0  310770.0
H6FL04105          4.0      32224.0  286018.0
H4MT01041          0.0  599373010.0  280476.0
H8CA09060         13.0      94612.0  277390.0
...                ...          ...       ...
H2TX33073         33.0      76105.0   92914.0
H6LA03130          3.0      70517.0   91374.0
H4AZ07043          7.0      85001.0   88219.0
H6LA04138          4.0      71006.0   70556.0
H2CA20094         21.0      93704.0   68481.0

[368 rows x 3 columns]

In [22]:
#Identify the upper and lower bounds using the Inter Quartile Range (IQR) method for the ‘can_off_dis’
#variable


Q1 = subDF['can_off_dis'].quantile(0.25)
Q3 = subDF['can_off_dis'].quantile(0.75)

IQR = Q3 - Q1

upper_bound = Q3 + 1.5 * IQR
lower_bound = Q1 - 1.5 * IQR

In [23]:
#In a DataFrame called ‘noOutlrIqrDf’, only keep the rows in ‘subDF’ having values for ‘can_off_dis’
#within the boundaries


within_bounds = (subDF['can_off_dis'] >= lower_bound) & (subDF['can_off_dis'] <= upper_bound)

noOutlrIQRDf = subDF[within_bounds]

In [24]:
noOutlrIQRDf

           can_off_dis      can_zip     votes
can_id
H2GA12121         12.0      30904.0  158708.0
H6PA02171          2.0      19138.0  310770.0
H6FL04105          4.0      32224.0  286018.0
H4MT01041          0.0  599373010.0  280476.0
H8CA09060         13.0      94612.0  277390.0
...                ...          ...       ...
H6TX15162         15.0  785040603.0  101592.0
H6LA03130          3.0      70517.0   91374.0
H4AZ07043          7.0      85001.0   88219.0
H6LA04138          4.0      71006.0   70556.0
H2CA20094         21.0      93704.0   68481.0

[349 rows x 3 columns]

In [25]:
#Identify which method removes more rows

print('Number of point removed with the z-score method:' + str(len(subDF) - len(noOutlrZDf)))
print('Number of point removed with the IQR method:' + str(len(subDF) - len(noOutlrZDf)))

Number of point removed with the z-score method:11
Number of point removed with the IQR method:11

In [26]:
#-Identify if there are duplicates in ‘noOutlrZDf’ for the columns: ‘can_off_dis
print('There is no duplicate:' + str(len(noOutlrZDf['can_off_dis'])==len(set(noOutlrZDf['can_off_dis']))))

There is no duplicate:False

In [27]:
#OR

print('There is no duplicate:' + str(len(noOutlrZDf['can_off_dis'])==len(noOutlrZDf['can_off_dis'].unique())))

There is no duplicate:False

In [28]:
#Identify duplicates
#Remove duplicates in the DataFrame, keeping first value

print(noOutlrZDf[noOutlrZDf['can_off_dis'].duplicated(keep='first')])

           can_off_dis      can_zip     votes
can_id
H6NC04037          4.0      27602.0  275501.0
H2WI02124          2.0      53701.0  273520.0
H6OR02116          2.0  970311456.0  267179.0
H2MA04073          4.0       2459.0  261356.0
H6FL01119          1.0      32548.0  254280.0
...                ...          ...       ...
H2TX33073         33.0      76105.0   92914.0
H6LA03130          3.0      70517.0   91374.0
H4AZ07043          7.0      85001.0   88219.0
H6LA04138          4.0      71006.0   70556.0
H2CA20094         21.0      93704.0   68481.0

[326 rows x 3 columns]

In [29]:
# Display the min and max values in noOutlrIqrDf

print('Min values')
noOutlrIQRDf .min()
print('Max values')
noOutlrIQRDf .max()

Min values
Max values

can_off_dis           28.0
can_zip        989449767.0
votes             310770.0
dtype: float64

In [30]:
#-In a DataFrame called ‘noOutlrIqrStdzDf’, smooth out the large values in noOutlrIqrDf through
#standardization (z-score) and display the min and max

noOutlrIQRStdzDf = (noOutlrIQRDf - noOutlrIQRDf.mean(axis=0)) / noOutlrIQRDf.std(axis=0)
print(noOutlrIQRStdzDf)
print('Min values')
noOutlrIQRStdzDf.min()
print('Max values')
noOutlrIQRStdzDf.max()

           can_off_dis   can_zip     votes
can_id
H2GA12121     0.622197 -0.497874 -0.831200
H6PA02171    -0.852985 -0.497919  3.240838
H6FL04105    -0.557949 -0.497868  2.578009
H4MT01041    -1.148022  1.837646  2.429601
H8CA09060     0.769715 -0.497625  2.346962
...                ...       ...       ...
H6TX15162     1.064752  2.561156 -2.360698
H6LA03130    -0.705467 -0.497719 -2.634324
H4AZ07043    -0.115394 -0.497663 -2.718811
H6LA04138    -0.557949 -0.497717 -3.191805
H2CA20094     1.949861 -0.497629 -3.247371

[349 rows x 3 columns]
Min values
Max values

can_off_dis    2.982489
can_zip        3.357699
votes          3.240838
dtype: float64

In [31]:
import numpy as np

In [32]:
#-In a DataFrame called ‘noOutlrIqrLogDf, smooth out the large values in noOutlrIqrDf using the
#ogarithm (np.log) and display the min and max

noOutlrIQRLogDf = noOutlrIQRDf.apply(np.log)
print(noOutlrIQRLogDf)
print('Min values')
noOutlrIQRLogDf.min()
print('Max values')
noOutlrIQRLogDf.max()

           can_off_dis    can_zip      votes
can_id
H2GA12121     2.484907  10.338641  11.974821
H6PA02171     0.693147   9.859431  12.646808
H6FL04105     1.386294  10.380467  12.563810
H4MT01041         -inf  20.211395  12.544243
H8CA09060     2.564949  11.457540  12.533180
...                ...        ...        ...
H6TX15162     2.708050  20.481246  11.528720
H6LA03130     1.098612  11.163609  11.422716
H4AZ07043     1.945910  11.350418  11.387578
H6LA04138     1.386294  11.170520  11.164162
H2CA20094     3.044522  11.447896  11.134312

[349 rows x 3 columns]
Min values
Max values

can_off_dis     3.332205
can_zip        20.712660
votes          12.646808
dtype: float64

In [33]:
#a function to convert string to numeric while replacing the '$' to '' and the ',' to '' (use replace)

def convert_to_numeric(value):
    if isinstance(value,str):
        try:
            return pd.to_numeric(value.replace('$', '').replace(',',''))
        except ValueError:
            return value
    else:
        return value

In [34]:
#Apply function to each column

for col in inpDf.columns:
    inpDf[col] = inpDf[col].apply(convert_to_numeric)
    
print(inpDf['ind_ite_con'])

can_id
H2GA12121     554305.00
H6PA02171    1042280.38
H6FL04105     529030.38
H4MT01041    2479616.45
H8CA09060     746233.93
                ...
P60005931           NaN
S6CA00568           NaN
S6MD03524           NaN
H6AS00031      19055.00
H6AK00235     565061.72
Name: ind_ite_con, Length: 1814, dtype: float64

In [35]:
#FEATURE ENGINEERING

In [36]:
import pandas as pd

In [37]:
#Convert dates in string format of 'cov_sta_dat' and 'cov_end_dat' columns to a datetime format using
#to_datetime (if not we cannot compute the difference for these dates)

inpDf['cov_sta_dat'] = pd.to_datetime(inpDf['cov_sta_dat'])
inpDf['cov_end_dat'] = pd.to_datetime(inpDf['cov_end_dat'])

In [38]:
print(inpDf['cov_sta_dat'])
print(inpDf['cov_end_dat'])

can_id
H2GA12121   2015-01-01
H6PA02171   2015-11-02
H6FL04105   2016-04-01
H4MT01041   2015-01-01
H8CA09060   2015-01-01
               ...
P60005931   2015-03-03
S6CA00568   2015-01-01
S6MD03524   2017-08-29
H6AS00031   2016-07-01
H6AK00235   2016-04-01
Name: cov_sta_dat, Length: 1814, dtype: datetime64[ns]
can_id
H2GA12121   2016-10-19
H6PA02171   2016-10-19
H6FL04105   2016-10-19
H4MT01041   2016-10-19
H8CA09060   2016-10-19
               ...
P60005931   2015-03-31
S6CA00568   2015-03-31
S6MD03524   2015-02-01
H6AS00031   2016-10-19
H6AK00235   2016-10-19
Name: cov_end_dat, Length: 1814, dtype: datetime64[ns]

In [39]:
#-In a new column called ‘campaign_duration’, compute the differences between the end dates and the
#start dates and remove the days unit

inpDf['campaign_duration'] = (inpDf['cov_end_dat'] - inpDf['cov_sta_dat']).dt.days

In [40]:
inpDf['campaign_duration']

can_id
H2GA12121    657
H6PA02171    352
H6FL04105    201
H4MT01041    657
H8CA09060    657
            ...
P60005931     28
S6CA00568     89
S6MD03524   -940
H6AS00031    110
H6AK00235    201
Name: campaign_duration, Length: 1814, dtype: int64

In [41]:
#Remove the 'cov_sta_dat' and 'cov_end_dat'

inpDf.drop(columns=['cov_sta_dat', 'cov_end_dat'], inplace=True)

In [42]:
inpDf

,can_nam,can_off,can_off_sta,can_off_dis,can_par_aff,can_inc_cha_ope_sea,can_str1,can_str2,can_cit,can_sta,...,tot_dis,cas_on_han_beg_of_per,cas_on_han_clo_of_per,net_con,net_ope_exp,deb_owe_by_com,deb_owe_to_com,winner,votes,campaign_duration
can_id,,,,,,,,,,,,,,,,,,,,,
H2GA12121,"ALLEN, RICHARD W",H,GA,12.0,REP,INCUMBENT,2237 PICKENS RD,NaN,AUGUSTA,GA,...,978518.98,60109.57,175613.35,1074949.5,907156.21,1125000.0,NaN,Y,158708.0,657
H6PA02171,"EVANS, DWIGHT",H,PA,2.0,DEM,CHALLENGER,PO BOX 6578,NaN,PHILADELPHIA,PA,...,1313583.69,NaN,105687.23,1406719.06,1298831.83,NaN,NaN,Y,310770.0,352
H6FL04105,"RUTHERFORD, JOHN",H,FL,4.0,REP,OPEN,3817 VICKERS LAKE DRIVE,NaN,JACKSONVILLE,FL,...,675642.76,NaN,35645.09,650855.38,656210.29,60000.0,NaN,Y,286018.0,201
H4MT01041,"ZINKE, RYAN K",H,MT,0.0,REP,INCUMBENT,409 2ND ST W,NaN,WHITEFISH,MT,...,5200630.0,83815.78,399122.61,4938943.74,5055942.15,NaN,NaN,Y,280476.0,657
H8CA09060,"LEE, BARBARA",H,CA,13.0,DEM,INCUMBENT,"409 13TH ST, 17TH FL",NaN,OAKLAND,CA,...,1112163.94,83690.6,181338.23,1197676.61,949488.98,4401.75,NaN,Y,277390.0,657
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
P60005931,"BUTTOCKS, SYDNEYS VOLUPTOUS",P,US,0.0,IND,OPEN,143 HIGHLAND AVENUE,NaN,BUFFALO,NY,...,NaN,5000.0,5000.0,NaN,NaN,NaN,NaN,NaN,NaN,28
S6CA00568,"MOLNAR, ROBERT",S,CA,0.0,REP,OPEN,PO BOX 321231,NaN,LOS GATOS,CA,...,2000.0,1000.0,NaN,1000.0,1000.00,NaN,NaN,NaN,NaN,89
S6MD03524,"HOLMES, GREGORY",S,MD,0.0,REP,OPEN,13601 MACDERNUT CT,NaN,UPPER MARLBORO,MD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-940
H6AS00031,"HUNKIN-FINAU, VAITINASA SALU",H,AS,NaN,DEM,NaN,PO BOX 252 VAILOAUTA,NaN,PAGO PAGO,AS,...,38167.44,1058.44,4561.0,41670.0,38167.44,NaN,NaN,NaN,NaN,110
H6AK00235,"LINDBECK, STEVE",H,AK,NaN,DEM,NaN,PO BOX 90025,NaN,ANCHORAGE,AK,...,823810.9,NaN,64115.92,876316.81,792150.89,13979.83,NaN,NaN,NaN,201

In [43]:
#In ‘inpDf’, set as missing value the negative values in 'campaign_duration'

inpDf.loc[inpDf['campaign_duration']<0, 'campaign_duration'] = np.nan

In [44]:
inpDf

,can_nam,can_off,can_off_sta,can_off_dis,can_par_aff,can_inc_cha_ope_sea,can_str1,can_str2,can_cit,can_sta,...,tot_dis,cas_on_han_beg_of_per,cas_on_han_clo_of_per,net_con,net_ope_exp,deb_owe_by_com,deb_owe_to_com,winner,votes,campaign_duration
can_id,,,,,,,,,,,,,,,,,,,,,
H2GA12121,"ALLEN, RICHARD W",H,GA,12.0,REP,INCUMBENT,2237 PICKENS RD,NaN,AUGUSTA,GA,...,978518.98,60109.57,175613.35,1074949.5,907156.21,1125000.0,NaN,Y,158708.0,657.0
H6PA02171,"EVANS, DWIGHT",H,PA,2.0,DEM,CHALLENGER,PO BOX 6578,NaN,PHILADELPHIA,PA,...,1313583.69,NaN,105687.23,1406719.06,1298831.83,NaN,NaN,Y,310770.0,352.0
H6FL04105,"RUTHERFORD, JOHN",H,FL,4.0,REP,OPEN,3817 VICKERS LAKE DRIVE,NaN,JACKSONVILLE,FL,...,675642.76,NaN,35645.09,650855.38,656210.29,60000.0,NaN,Y,286018.0,201.0
H4MT01041,"ZINKE, RYAN K",H,MT,0.0,REP,INCUMBENT,409 2ND ST W,NaN,WHITEFISH,MT,...,5200630.0,83815.78,399122.61,4938943.74,5055942.15,NaN,NaN,Y,280476.0,657.0
H8CA09060,"LEE, BARBARA",H,CA,13.0,DEM,INCUMBENT,"409 13TH ST, 17TH FL",NaN,OAKLAND,CA,...,1112163.94,83690.6,181338.23,1197676.61,949488.98,4401.75,NaN,Y,277390.0,657.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
P60005931,"BUTTOCKS, SYDNEYS VOLUPTOUS",P,US,0.0,IND,OPEN,143 HIGHLAND AVENUE,NaN,BUFFALO,NY,...,NaN,5000.0,5000.0,NaN,NaN,NaN,NaN,NaN,NaN,28.0
S6CA00568,"MOLNAR, ROBERT",S,CA,0.0,REP,OPEN,PO BOX 321231,NaN,LOS GATOS,CA,...,2000.0,1000.0,NaN,1000.0,1000.00,NaN,NaN,NaN,NaN,89.0
S6MD03524,"HOLMES, GREGORY",S,MD,0.0,REP,OPEN,13601 MACDERNUT CT,NaN,UPPER MARLBORO,MD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
H6AS00031,"HUNKIN-FINAU, VAITINASA SALU",H,AS,NaN,DEM,NaN,PO BOX 252 VAILOAUTA,NaN,PAGO PAGO,AS,...,38167.44,1058.44,4561.0,41670.0,38167.44,NaN,NaN,NaN,NaN,110.0
H6AK00235,"LINDBECK, STEVE",H,AK,NaN,DEM,NaN,PO BOX 90025,NaN,ANCHORAGE,AK,...,823810.9,NaN,64115.92,876316.81,792150.89,13979.83,NaN,NaN,NaN,201.0

In [45]:
#Use one-hot encoding to convert ‘can_par_aff’ (which is a nominal value, there is no order) to dummy
#variables using the prefix ‘party’

inpDf = pd.get_dummies(inpDf, columns=['can_par_aff'], prefix='party')

In [46]:
#We consider that 'can_inc_cha_ope_sea' is an ordinal variable (at least for this example). As it is
#ordinal, we use label encoding

#Display all the possible values for this variable (use unique)

inpDf['can_inc_cha_ope_sea'].unique()

array(['INCUMBENT', 'CHALLENGER', 'OPEN', nan], dtype=object)

In [47]:
#Create the encoding dictionary

encoding_dict = {'OPEN' : 0, 'CHALLENGER' : 1, 'INCUMBENT' : 2, np.nan:np.nan}

In [48]:
print(encoding_dict)

{'OPEN': 0, 'CHALLENGER': 1, 'INCUMBENT': 2, nan: nan}

In [49]:
#Then apply it to 'can_inc_cha_ope_sea' using pandas and store it in a
#‘'can_inc_cha_ope_sea_encoded_pd’ variable.

inpDf['can_inc_cha_ope_sea_encoded_pd'] = inpDf['can_inc_cha_ope_sea'].map(encoding_dict)

In [50]:
inpDf['can_inc_cha_ope_sea_encoded_pd']

can_id
H2GA12121    2.0
H6PA02171    1.0
H6FL04105    0.0
H4MT01041    2.0
H8CA09060    2.0
            ...
P60005931    0.0
S6CA00568    0.0
S6MD03524    0.0
H6AS00031    NaN
H6AK00235    NaN
Name: can_inc_cha_ope_sea_encoded_pd, Length: 1814, dtype: float64

In [51]:
#Write 'inpDf' to a file named 'outFile.csv' in the same folder as ‘CandidateSummaryAction1.csv’, using
#to_csv and set index as False.

inpDf.to_csv(inpPath + 'outFile.csv', index=False)